body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    background: #ffffff;
}


.Phone, .Connectivity, .Distraction, .Information, .Dependency, .Alienation {
    width: 100%;
    height: 100%;
    object-fit: contain; 

}